{% extends "job/base.html" %}
{% block title %} {{ seo_contain.index_meta_title }}  {% endblock %}
{% block meta_description %} {{ seo_contain.index_meta_description }} {% endblock %}
{% block meta_keywords %} {{ seo_contain.index_meta_keywords }} {% endblock %}
{% block meta_title %} {{ seo_contain.index_meta_title }} {% endblock %}
{% load staticfiles %}
{% load data_load %}
{% block content %}

  <section id="sliderSection">
    <div class="row">

      <div class="col-lg-8 col-md-8 col-sm-8">
       <div class="slick_slider">
       {% for top in letest|slice:"1" %}
          <div class="single_iteam"> <a href="/{{top.catagory}}/{{top.title_url|str2url}}/"> <img src="/static/job/media/{{ top.images }}" alt=""></a>
            <div class="slider_article">
              <h2><a class="slider_tittle" href="/{{top.catagory}}/{{top.title_url|str2url}}/"/>{{top.title}}</a></h2>
            </div>
          </div>
       {% endfor %}
        </div>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-4">
        <div class="latest_post">
          <h2><span>Recent post</span></h2>
          <div class="latest_post_container">
            <div id="prev-button"><i class="fa fa-chevron-up"></i></div>
            <ul class="latest_postnav">
            {% for letest_post_slider in letest %}
            <li>
                <div class="media"> <a href="/{{letest_post_slider.catagory}}/{{ letest_post_slider.title_url|str2url }}/" class="media-left"> <img alt="" src="/static/job/media/{{ letest_post_slider.images }}"> </a>
                  <div class="media-body"> <a href="/{{letest_post_slider.catagory}}/{{ letest_post_slider.title_url|str2url }}/" class="catg_title"> {{letest_post_slider.title}}</a><p>{{letest_post_slider.post_date_time}} </p></div>
                </div>
              </li>
            {% endfor %}
              
            </ul>
            <div id="next-button"><i class="fa  fa-chevron-down"></i></div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="contentSection">
    <div class="row">
      <div class="col-lg-8 col-md-8 col-sm-8">
       <div class="left_content">
          <div class="fashion_technology_area">
          {% regroup all_job_data by catagory as catagory_list %}
              {% for cate_title in catagory_list %}
            <div class="fashion">
              <div class="single_post_content">
                <h2><span>{{cate_title.grouper}}</span></h2>
                {% for data1 in cate_title.list|slice:"2" %}
                <ul class="spost_nav">
                  <li>
                    <div class="media wow fadeInDown"> <a href="/{{cate_title.grouper}}/{{ data1.title_url|str2url }}/" class="media-left"> <img alt="" src="/static/job/media/{{ data1.images }}"> </a>
                      <div class="media-body"> <a href="/{{cate_title.grouper}}/{{ data1.title_url|str2url }}/" class="catg_title">{{data1.title}}</a><p>{{data1.post_date_time}}</p> </div>
                    </div>
                  </li>
                </ul>
                {% endfor %}
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>


<div class="col-lg-4 col-md-4 col-sm-4">
        <aside class="right_content">
        
          <div class="single_sidebar">
            <h2><span>Popular Post</span></h2>
            <ul class="spost_nav">
            {% for populer in popular_post %}
              <li>
                <div class="media wow fadeInDown"> <a href="/{{populer.catagory}}/{{ populer.title_url|str2url }}/ "class="media-left"> <img alt="" src="/static/job/media/{{ populer.images }}"> </a>
                  <div class="media-body"> <a href="/{{populer.catagory}}/{{ populer.title_url|str2url }}/ " class="catg_title"> {{populer.title}}</a><p>{{populer.post_date_time}}</p></div>
                </div>
              </li>
              {% endfor %}
            </ul>
          
        </div>

          {% comment %} <div class="single_sidebar">
            <ul class="nav nav-tabs" role="tablist">
              <li role="presentation" class="active"><a href="#category" aria-controls="home" role="tab" data-toggle="tab">Category</a></li>
              <li role="presentation"><a href="#video" aria-controls="profile" role="tab" data-toggle="tab">Video</a></li>
              <li role="presentation"><a href="#comments" aria-controls="messages" role="tab" data-toggle="tab">Comments</a></li>
            </ul>
            <div class="tab-content">
              <div role="tabpanel" class="tab-pane active" id="category">
                <ul>
                  <li class="cat-item"><a href="#">Sports</a></li>
                  <li class="cat-item"><a href="#">Fashion</a></li>
                  <li class="cat-item"><a href="#">Business</a></li>
                  <li class="cat-item"><a href="#">Technology</a></li>
                  <li class="cat-item"><a href="#">Games</a></li>
                  <li class="cat-item"><a href="#">Life &amp; Style</a></li>
                  <li class="cat-item"><a href="#">Photography</a></li>
                </ul>
              </div>
              <div role="tabpanel" class="tab-pane" id="video">
                <div class="vide_area">
                  <iframe width="100%" height="250" src="http://www.youtube.com/embed/h5QWbURNEpA?feature=player_detailpage" frameborder="0" allowfullscreen></iframe>
                </div>
              </div>
              <div role="tabpanel" class="tab-pane" id="comments">
                <ul class="spost_nav">
                  <li>
                    <div class="media wow fadeInDown"> <a href="pages/single_page.html" class="media-left"> <img alt="" src="images/post_img1.jpg"> </a>
                      <div class="media-body"> <a href="pages/single_page.html" class="catg_title"> Aliquam malesuada diam eget turpis varius 1</a> </div>
                    </div>
                  </li>
                  <li>
                    <div class="media wow fadeInDown"> <a href="pages/single_page.html" class="media-left"> <img alt="" src="images/post_img2.jpg"> </a>
                      <div class="media-body"> <a href="pages/single_page.html" class="catg_title"> Aliquam malesuada diam eget turpis varius 2</a> </div>
                    </div>
                  </li>
                  <li>
                    <div class="media wow fadeInDown"> <a href="pages/single_page.html" class="media-left"> <img alt="" src="images/post_img1.jpg"> </a>
                      <div class="media-body"> <a href="pages/single_page.html" class="catg_title"> Aliquam malesuada diam eget turpis varius 3</a> </div>
                    </div>
                  </li>
                  <li>
                    <div class="media wow fadeInDown"> <a href="pages/single_page.html" class="media-left"> <img alt="" src="images/post_img2.jpg"> </a>
                      <div class="media-body"> <a href="pages/single_page.html" class="catg_title"> Aliquam malesuada diam eget turpis varius 4</a> </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="single_sidebar wow fadeInDown">
            <h2><span>Sponsor</span></h2>
            <a class="sideAdd" href="#"><img src="images/add_img.jpg" alt=""></a> </div>
          <div class="single_sidebar wow fadeInDown">
            <h2><span>Category Archive</span></h2>
            <select class="catgArchive">
              <option>Select Category</option>
              <option>Life styles</option>
              <option>Sports</option>
              <option>Technology</option>
              <option>Treads</option>
            </select>
          </div>
          <div class="single_sidebar wow fadeInDown">
            <h2><span>Links</span></h2>
            <ul>
              <li><a href="#">Blog</a></li>
              <li><a href="#">Rss Feed</a></li>
              <li><a href="#">Login</a></li>
              <li><a href="#">Life &amp; Style</a></li>
            </ul>
          </div> {% endcomment %}
        </aside>
      </div>
    </div>
  </section>

          
      {% comment %} <div class="col-lg-4 col-md-4 col-sm-4">
        <aside class="right_content">
          <div class="single_sidebar">
            <h2><span>Popular Post</span></h2>
      {% for data in popular_post|slice:"4" %}
            <ul class="spost_nav">
              <li>
                <div class="media wow fadeInDown"> <a href="" class="media-left"> <img alt="{{ data.image_alt_tag }}" src="/static/job/media/{{ data.images }}"> </a>
                  <div class="media-body"> <a href="" class="catg_title">{{data.title}}</a> </div>
                </div>
              </li>
            </ul>
      {% endfor %}
          </div>

          <div class="single_sidebar">
            <ul class="nav nav-tabs" role="tablist">
              <li role="presentation" class="active"><a href="#category" aria-controls="home" role="tab" data-toggle="tab">Category</a></li>
              <li role="presentation"><a href="#video" aria-controls="profile" role="tab" data-toggle="tab">Video</a></li>
              <li role="presentation"><a href="#comments" aria-controls="messages" role="tab" data-toggle="tab">Comments</a></li>
            </ul>
            <div class="tab-content">
              <div role="tabpanel" class="tab-pane active" id="category">
                <ul>
                  <li class="cat-item"><a href="#">Sports</a></li>
                  <li class="cat-item"><a href="#">Fashion</a></li>
                  <li class="cat-item"><a href="#">Business</a></li>
                  <li class="cat-item"><a href="#">Technology</a></li>
                  <li class="cat-item"><a href="#">Games</a></li>
                  <li class="cat-item"><a href="#">Life &amp; Style</a></li>
                  <li class="cat-item"><a href="#">Photography</a></li>
                </ul>
              </div>
              <div role="tabpanel" class="tab-pane" id="video">
                <div class="vide_area">
                  <iframe width="100%" height="250" src="http://www.youtube.com/embed/h5QWbURNEpA?feature=player_detailpage" frameborder="0" allowfullscreen></iframe>
                </div>
              </div>
              <div role="tabpanel" class="tab-pane" id="comments">
                <ul class="spost_nav">
                  <li>
                    <div class="media wow fadeInDown"> <a href="pages/single_page.html" class="media-left"> <img alt="" src="images/post_img1.jpg"> </a>
                      <div class="media-body"> <a href="pages/single_page.html" class="catg_title"> Aliquam malesuada diam eget turpis varius 1</a> </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="single_sidebar wow fadeInDown">
            <h2><span>Sponsor</span></h2>
            <a class="sideAdd" href="#"><img src="images/add_img.jpg" alt=""></a> </div>
          <div class="single_sidebar wow fadeInDown">
            <h2><span>Category Archive</span></h2>
            <select class="catgArchive">
              <option>Select Category</option>
              <option>Life styles</option>
              <option>Sports</option>
              <option>Technology</option>
              <option>Treads</option>
            </select>
          </div>
          <div class="single_sidebar wow fadeInDown">
            <h2><span>Links</span></h2>
            <ul>
              <li><a href="#">Blog</a></li>
              <li><a href="#">Rss Feed</a></li>
              <li><a href="#">Login</a></li>
              <li><a href="#">Life &amp; Style</a></li>
            </ul>
          </div>
        </aside>
      </div>
    </div>
  </section> {% endcomment %}
{% endblock %}



